@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
html,body,#app,.el-container{
  /*设置内部填充为0，几个布局元素之间没有间距*/
  padding: 0px;
   /*外部间距也是如此设置*/
  margin: 0px;
  /*统一设置高度为100%*/
  height: 100%;
}

@keyframes running-line-z {
  to {
    stroke-dashoffset: -1000;
  }
}
@keyframes running-line-f {
  to {
    stroke-dashoffset: 1000;
  }
}

.menu-close{
  display: none;
  z-index: -1;
}
.menu-show{
  display: flex;
  position: absolute;
  background-color: #00000089;
  width: 160px;
  height: 200px;
  color: #eeeeee;
  z-index: 9999;
  padding: 12px;
  flex-direction: column;
  justify-content: start;
  align-items: self-start;
  text-align: left;
}
.menu-show>div{
  width: 100%;
  padding: 0 12px;
  color: #333;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
}

.menu-show>div:hover{
  background-color: #b6ecff;
  color: #59a6ff;
}